.map-map {
    width: 100%;
    height: 55vh;
}

.map-table td:nth-child(3),
.map-table th:nth-child(3),
.map-table td:nth-child(4),
.map-table th:nth-child(4),
.map-table td:nth-child(5),
.map-table th:nth-child(5)
{
    text-align: right;
}

.map-dist-match-great {
    background-color: #198754 !important;
}
.map-dist-match-okay {}
.map-dist-match-warn {
    background-color: #fd7e14 !important;
}
.map-dist-match-bad {
    background-color: #dc3545 !important;;
}